@charset "utf-8";

html {
    -webkit-test-size-adjust: 100%;
    -ms-test-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
}

body {
    font-family: "Helvetica Neue",Helvetica,"Microsoft YaHei",Arial,sans-serif;
    margin: 0;
    font-size: 1.6rem;
    background-color: #f9f9f9;
    color: #4e546b;
}

.text_center {
    text-align: center;
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* 加载中 */
.main_loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    z-index: 99;
}

.main_loading .loading_con {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    width: 96px;
    height: 96px;
}

.main_loading .loading_con img {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.main_loading .loading_circle {
    width: 80px;
    height: 80px;
    border-top: 8px solid #11994b;
    border-right: 8px solid #f2a808;
    border-bottom: 8px solid #d723e7;
    border-left: 8px solid #2548e6;
    border-radius: 50%;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg)
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg)
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}


/* main_container */
.main_container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 500px;
    padding-left: 230px;
}

.main_header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px;
    min-height: 30px;
    font-size: 1.4rem;
    color: #4e546b;
}

.main_header h1 {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
}

.main_header a {
    text-decoration: none;
    color: #4e546b;
}

.main_header a:hover {
    text-decoration: underline;
    color: #ff404b;
}

.main_header a.source {
    float: right;
    margin-right: 100px;
    color: red
}

.main_container .main_wraper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
}

.main-container .main-wraper #col-list {
    position: relative;
}

.main_container .main_wraper a {
    color: #2b2f3e;
    text-decoration: none;
    font-size: 1.2rem;
}

.main_container .main_wraper a:hover {
    text-decoration: underline;
    corlor: #ff4048;
}

.main_container .main_wraper h1,
.main_container .main_wraper h2,
.main_container .main_wraper h3 {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6rem;
}

.main_container .main_wraper h1{
    padding: 5px 10px;
    font-size: 1.4rem;
    zoom: 1;
    color: #444;
    max-width:1024px;
}

.main_container .main_wraper h2{
    padding: 4px 5px;
    background-color: #4e5468;
    color: #eee;
}

.main_container .main_wraper h3{
    color: #444;
    padding: 3px 0;
}




/* aside */
